body {
    font-family: Arial;
    max-width: 600px;
    margin: auto;
    padding-top: 30px;
}

h2 {
    text-align: center;
}

#chatBox {
    border: 1px solid #ccc;
    height: 400px;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
    background: #f9f9f9;
}

.msg {
    margin: 8px 0;
}

.user {
    color: black;
}

.bot {
    color: black;
}

.inputBox {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.bot pre {
    background: #f4f4f4;
    color: black;
    padding: 12px;
    border-radius: 8px;
    overflow-x: auto;
}

.bot pre code {
    color: inherit;
    font-family: Consolas, monospace;
}